<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/siteicon.png') }}">
    <title>Network Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>📡 Billy - Network Architecture Manager</h1>
        <p>Upload a file to generate an interactive network diagram, a detailed equipment report and predict firewall vulnerabilities.</p>

        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <button type="submit" class="btn">📤 Upload & Process</button>
        </form>
    </div>

</body>
</html>
